.image-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
  font-family: "Helvetica Neue";
}

.caption-text {
  text-align: center;
  margin-top: 0.5rem;
  font-size: smaller;
}

.byline {
  font-size: 1em;
  font-weight: normal;
}

.date {
  font-size: 0.75em;
  font-weight: bold;
  color: darkgray;
}

.story-text {
  text-align: left;
}

.story-image {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.large-image {
  max-width: 80%;
}